:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: #f2f2f2;
  font-family: sans-serif;
}
/*///////Navbar///////////*/
.navbar{
  position: fixed;
  top: 0px;
  background-color: rgb(231, 226, 221);
  width: 100%;
  height: 60px;
  align-items: center;
  display: flex;
  z-index: 2;
}
.navbar-item{
  align-items: center;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
}
.nav-icon img{
  height: 50px;
}
.cart-btn {
  position: relative;
  cursor: pointer;
  transition: 0.1s;
}
.cart-btn:hover {
  transform: scale(1.1);
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}
.form-inline{
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.form-inline .form-control{
  width:calc(100% - 100px);
}
/*///////End Navbar////////*/


/*//////////Slide Show//////////*/
#carouselExampleControls{
  margin-top: 60px;
}
.d-block {
  min-height: calc(100vh - 60px);
  z-index: 1;
}
.imgs1{
  background: url("../images/banner1.jpg") no-repeat;
  background-size: 100% 100%;
}
.imgs2{
  background: url("../images/banner2.jpg") no-repeat;
  background-size: 100% 100%;
}
.imgs3{
  background: url("../images/banner3.jpg") no-repeat;
  background-size: 100% 100%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
  padding: 40px;
}
/*///////End Slide Show///////*/


/*//////////Product///////////*/
.category{
  width: 90vw;
  max-width: 1300px;
  margin: 0 auto 2rem auto;
}
.category-btn{
  margin-top: 1rem;
  color: #494949;
  text-transform: uppercase;
  background: #ffffff;
  padding: 0.5rem;
  border: 4px solid #494949;
  transition: var(--mainTransition);
  letter-spacing: var(--mainSpacing);
}
.category-btn:hover{
  color: #ffffff;
  background: black;
  border-color: black;
}
.categorySelect{
  background-color: black;
  color: white;
}
.category h5{
  margin-top: 1rem;
}
.products {
  padding: 4rem 0;
}
ul{
  list-style-type: none;
}
ul .product{
  background-color: var(--mainWhite);
  transition: var(--mainTransition);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}
.productText{
  min-height: 5rem;
}
.productPrice{
  min-height: 1rem;
}
.bag-btn {
  position: relative;
  left: calc(50% - 5rem);
  background: #f3b072;
  border: none;
  text-transform: uppercase;
  padding: 0.3rem 0.5rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.bag-btn:hover {
  color: white;
  background: #ed892c;
}
.bag-btn:disabled,
.bag-btn[disabled],
.bag-btn:disabled:hover,
.bag-btn[disabled]:hover{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container{
  max-height: 200px;
  width: auto;
  margin: 0 auto;
}
.product-img {
  display: block;
  width: auto;
  max-height: 200px;
  align-items: center;
  margin: 0 auto;
  transition: var(--mainTransition);
  padding: 1rem;
  cursor: zoom-in;
}
.product-img:hover{
  transform: scale(1.1);
}
.product:hover{
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.product:hover h3{
  color: blue;
}
.product h3 {
  text-transform: capitalize;
  font-size: 0.9rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: red;
  font-weight: bold;
  text-align: center;
  position: relative;
}
/*////////End Product/////////*/


/*/////////Footer////////////*/
.footer{
  background-color: rgb(231, 226, 221);
  height: 100%;
  color: grey;
  padding: 1.5rem 0;
}
.footerIcon{
  font-size: 2rem;
}
.pointer{
  cursor: pointer;
}

/*///////End Footer/////////*/

/*/////Modal Zoom Image///////*/
.modal {
  display: none; 
  position: fixed; 
  padding-top: 100px; 
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.7); 
  z-index: 5;
}
.modalblock{
  display: block;
  margin: auto;
  width: 100%;
  position: relative;
  max-width: 800px;
}
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: red;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 5;
  text-shadow: none;
  animation: showclose 1s;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

@keyframes showclose {
  0%,50% {opacity: 0} 
  100% {opacity: 0.5}
}
/*/////End Modal Zoom Image///////*/


/*/////Cart Style///////*/
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 6;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0; 
  width: min(500px,100vw);
  height: 100%;
  overflow: auto;
  z-index: 6;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
.cart h2 {
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*/////Cart Item///////*/
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
  margin:0; 
}
.remove-item {
  color: red;
  border: 1px solid red;
  padding: 0.3rem 0.5rem;
  transition: var(--mainTransition);
  cursor: pointer;
}
.remove-item:hover {
  background-color: red;
  color: white;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  margin-bottom: 1rem;
}
.clear-cart {
  padding: 1rem 3rem;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.clear-cart:hover {
  background: transparent;
  color: var(--primaryColor);
}
.fa-window-close:hover{
  color: red;
}
/*Responsive*/
/*@media (max-width: 4000px){
  .form-inline .form-control {
    width:calc(100% - 100px);
  }*/
@media (max-width: 768px) {
  #carouselExampleControls{
    max-height: 50vh;
  }
  .imgs1,.imgs2,.imgs3{
    background-size: 100% 100%;
    min-height: 50vh;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    padding: 25px;
  }
}

@media (max-width: 576px) {
  .navbar{
    padding:.5rem 0;
  }
  .form-control{
    width:calc(100% - 100px);
  }
  .form-inline{
    justify-content: space-around;
  }
  .nav-icon img{
    height: 30px;
  }
  .navbar-item{
    padding: 0 1rem 0 0.5rem;
  }
}
@media (max-width: 374px) {
  .form-inline .form-control{
    width:calc(100% - 70px);
  }
}